.mono-title {
    font-family: monospace;

    mark {
        font-family: monospace;
        color: #6c6c6c;
        font-size: 1em;
        font-weight: unset;
        background-color: unset;
        font-style: unset;
    }
    i {
        font-size: 0.8em;
        color: #6c6c6c;
    }
}

.wy-nav-content {
    max-width: 1200px !important;
}